body {
  background-color: rgb(24, 24, 43);

  color: white;
}
.nav-bar {
  position: sticky;
  top: 0;

  z-index: 10;
}
.navbar {
  padding: 0 !important;
  margin: auto 0px;
}
.fa-bars {
  color: white;
  font-size: 30px !important;
}
.navbar-toggler {
  outline: none !important;
}
.navbar-brand {
  color: white;
  font-weight: 800;
  font-size: x-large;
  padding: auto;
}
.navbar-nav li a {
  color: white;
  font-weight: 600;
  float: right;
  text-align: left;
}
.navbar-nav li {
  padding: 0 10px;
}

/*---------------Banner Section------------------- */

#banner {
  /* background-image: linear-gradient(120deg, rgb(248, 132, 55), rgb(93, 5, 207)); */
  color: white;
  padding-top: 5%;
}
.btn {
  color: white;
  margin-top: 20px;
  font-weight: 800;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  transition: 0.9s all ease;
}
.promo-title {
  font-size: 60px;
  width: 100%;
  font-weight: 800;
  margin-top: 120px;
}

.joystick-icon {
  transform: rotate(0deg);
  padding-top: 75px;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  transition: all ease 0.5s;
}

.joystick-icon:hover {
  transform: rotate(15deg);

  padding-top: 75px;

  filter: drop-shadow(6px 6px 6px rgb(255, 193, 7));
  transition: all ease 0.5s;
}

.joystick-icon:active {
  transform: rotate(15deg);

  padding-top: 75px;

  filter: drop-shadow(6px 6px 6px rgb(236, 147, 236));
  transition: all ease 0.1s;
}
/*----------------SOCIAL MEDIA Stuff----------- */
#social-media {
  margin-top: 50px;
}
.fa-instagram {
  margin-left: 0;
  color: white;
  padding: 20px;
  padding-left: 0px;
  transition: all ease 0.5s;
}

.fa-instagram:hover {
  color: rgb(179, 62, 179);
  transition: all ease 0.5s;
}

.fa-linkedin-square {
  color: white;
  padding: 20px;
  padding-top: 100px;
  transition: all ease 0.5s;
}

.fa-linkedin-square:hover {
  color: rgb(0, 166, 255);
  transition: all ease 0.5s;
}
.fa-twitter-square {
  color: white;
  padding: 20px;
  transition: all ease 0.5s;
}

.fa-twitter-square:hover {
  color: rgb(0, 166, 255);
  padding: 20px;
  transition: all ease 0.5s;
}

.fa-gamepad {
  color: white;
  padding: 20px;
  transition: all ease 0.5s;
}

.fa-gamepad:hover {
  color: rgb(153, 0, 255);
  transition: all ease 0.5s;
}

.fa-envelope {
  color: white;
  padding: 20px;
  transition: all ease 0.5s;
}

.fa-envelope:hover {
  color: rgb(153, 0, 255);
  transition: all ease 0.5s;
}

/* ----------------ImageStuff---------------------- */
.bottom-img {
  /* transform: rotate(180deg); */
  width: 100%;
  mask-repeat: repeat-x;
}

/* --------------- Portfolio ------------------- */
.section-heading {
  margin-top: 300px;
  margin-bottom: 70px;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  font-size: 70px;
  font-weight: 700;
  color: rgb(153, 0, 255);

  transition: all ease 0.5s;
}

.section-heading:hover {
  margin-top: 300px;
  font-size: 70px;
  font-weight: 700;
  color: rgb(255, 193, 7);
  transition: all ease 0.5s;
}

.project-heading {
  font-size: 50px;
  margin-top: 100px;

  color: rgb(0, 166, 255);
  transition: all ease 0.5s;
}
.project-heading:hover {
  font-size: 50px;
  margin-top: 100px;
  color: rgb(255, 193, 7);
  transition: all ease 0.5s;
}

.project-image {
  margin-top: 100px;
  height: 300px;
  width: 500px;
  transition: all ease 0.5s;
}

.project-image:hover {
  margin-top: 100px;
  height: 310px;
  width: 510px;
  transition: all ease 0.5s;
}

.play-button {
  margin-left: auto;
}
/* ---------------------- About Section ------------------------- */
.side-heading {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 35px;
}

.left-column {
  border-right: 1px solid #fff;
}
.right-column {
  padding-left: 60px;
}

@media (max-width: 800px) {
  .right-column {
    padding: 12px;
  }
  .project-image {
    height: 240px;
    width: 320px;
  }
}
/* ---------------------- Footer Section ------------------------- */

.footer {
  width: 100%;
  padding: 0px, 100px;
  padding-bottom: 20px;
  background-image: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.418),
    rgba(0, 0, 0, 0.548)
  );
}
.copyright {
  color: rgb(131, 131, 131);
  padding-bottom: 20px;
  text-align: center;
}
